body {
    font: 300 14px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

code.descname {
    font-weight: 600;
}

div.body {
    box-shadow: none;
    margin: 15px;
    min-width: 250px;
    padding: 15px 10% 15px 10%;
}

div.sphinxsidebar input {
    box-shadow: none;
}

div.sphinxsidebar input:focus {
    outline: none;
}

div.sphinxsidebar #searchbox input[type="text"] {
    width: 70%;
    padding: 0.5em;
    margin-right: 5px;
}

div.sphinxsidebar #searchbox input[type="submit"] {
    padding: 0.5em;
}

div.sphinxsidebar h3,
div.sphinxsidebar h4 {
    border-radius: 5px;
    box-shadow: none;
    padding-left: 10px;
}

div.footer {
    font-size: 10px;
    margin: 20px 0px 30px -50px;
    width: 100%;
}

dl.py.class {
    padding: 20px 0px 20px 0px;
}

dl.py.function {
    padding: 20px 0px 20px 0px;
}

dl.py.method {
    padding: 20px 0px 20px 0px;
}

.toctree-wrapper {
    font-size: 16px;
}

ul, ol {
    margin: 5px 5px 5px 5px;
    padding: 0;
}
